<nav>
  <h1 style="display: inline-flex; margin: 5px 10px">The Incubator</h1>
  <h2 style="display: inline-flex; margin: 0px 15px">|</h2>
  <ul
    style="
      display: inline-flex;
      gap: 10px;
      list-style: none;
      padding: 0px;
      margin: 5px 0px;
    "
  >
    <li><a href="/" class="button">Home</a></li>
    <li><a href="/incubators/add" class="button">Add New Incubator</a></li>
    <li><a href="/startUp" class="button">StartUps</a></li>
  </ul>
</nav>
